@use '../abstracts' as a;


.calculator__input-field {
    @include a.flexbox($direction: column, $gap: a.rem(3));
}

.calculator__input {
    border: 2px solid transparent;
    outline: none;
    background-color: var(--Black-Squeeze);
    text-align: right;
    padding: a.rem(8) a.rem(15);
    border-radius: a.rem(5);
    font-size: var(--fs-medium);
    color: var(--Sherpa-Blue);
    font-weight: var(--fw-bold);
    background-repeat: no-repeat;
    background-position: 5% 50%;
    transition: all 0.2s ease-in-out;



    &--bill {
        background-image: url('/assets/images/icon-dollar.svg');
    }

    &--people {
        background-image: url('/assets/images/icon-person.svg');
    }

    &--option {
        padding: 0 a.rem(15);

        &::placeholder {
            text-align: right;
        }
    }

    &--error,
    &--error:hover,
    &--error:focus {
        border: 2px solid var(--Error) !important;
    }

    &:hover {
        border: 2px solid var(--Java);
        cursor: pointer;
    }

    &:focus {
        border: 2px solid var(--Java);
    }
}

.calculator__tip-label {
    background-color: var(--Sherpa-Blue);
    color: var(--White);
    font-size: var(--fs-medium);
    font-weight: var(--fw-bold);
    padding: a.rem(5) a.rem(10);
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: var(--Java);
        color: var(--Sherpa-Blue);
        cursor: pointer;
    }

    &:active {
        background-color: var(--Java-alpha);
    }

    &:has(input:checked) {
        background-color: var(--Java);
    }
}


.calculator__select-field {
    @include a.flexbox($direction: column, $justify: center, $align: stretch, $gap: a.rem(12))
}